@font-face {
    font-family: 'MarkPro';
    src: url('https://cdn.rawgit.com/hasbif/test-webfonts/main/fonts/MarkPro/MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('https://cdn.rawgit.com/hasbif/test-webfonts/main/fonts/MarkPro/MarkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro/MarkPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro/MarkPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro/MarkPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro/MarkPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

